<ion-header>
  <ion-navbar>
    <ion-title>
      Connectez-vous
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<h4>Connectez-vous à votre compte et rejoignez votre groupe d'amphi !</h4>
	
	<form [formGroup]="login_form" (ngSubmit)="connect()">
	<ion-list>

  <ion-item>
    <ion-label color="primary" stacked>Votre e-mail</ion-label>
    <ion-input formControlName="mail" type="email" placeholder="abc@xyz.com"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" stacked>Votre mot de passe</ion-label>
    <ion-input formControlName="password" type="password" placeholder="..."></ion-input>
  </ion-item>
  <div class="errormessage" *ngIf="login_form.controls.mail.hasError('unknown_mail')">
			Cette adresse mail n'est pas connue. Vérifiez son orthographe.
		</div>
		<div class="errormessage" *ngIf="login_form.controls.password.hasError('wrong_password')">
			Mot de passe incorrect.
		</div>
		<div class="errormessage" *ngIf="login_form.controls.password.hasError('error')">
			Nous n'avons pas pu vous connecter. Merci de réeessayer plus tard.
		</div>
  <ion-item>
  <button ion-button full type="submit">C'est parti</button>
  </ion-item>
  
  <ion-item>
  <div text-center>
  <button ion-button color="light" ng-click="register()">Je n'ai pas de compte</button>
  </div>
  </ion-item>

</ion-list>
</form>
	
</ion-content>
